@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model Task

<div class="container">
    <h2>Add New Task</h2>

    <form method="post" asp-action="Tasks">
        <div class="form-group">
            <label asp-for="TaskName">Task Name</label>
            <input type="text" asp-for="TaskName" required/>
        </div>

        <div class="form-group">
            <label asp-for="DueDate">Due Date</label>
            <input type="date" asp-for="DueDate" />
        </div>

        <div class="form-group">
            <label asp-for="CategoryId">Category</label>
            <select class="form-control" asp-for="CategoryId" required>
                <option value="">Select a category</option>
                @foreach (var category in ViewBag.Categories)
                {
                    <option value="@category.CategoryId">@category.CategoryName</option>
                }
            </select>
        </div>

        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="IsUrgent" name="IsUrgent" @(Model.IsUrgent ? "checked" : "") />
            <label class="form-check-label" for="IsUrgent">Is Urgent</label>
        </div>

        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="IsImportant" name="IsImportant" @(Model.IsImportant ? "checked" : "") />
            <label class="form-check-label" for="IsImportant">Is Important</label>
        </div>

        <button type="submit" class="btn btn-primary">Add Task</button>
    </form>
</div>